<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">姓名</label>
      <div>
        <input type="text" class="form-control" ng-model="ctrl.staff.name">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">入职时间</label>
      <div class="input-group date">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input type="text" date-time format="yyyy-MM-dd HH:mm" class="form-control" ng-model="ctrl.staff.enter_date">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">手机</label>
      <div>
        <input type="text" class="form-control" ng-model="ctrl.staff.mobile">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">紧急联络人</label>
      <div>
        <input type="text" class="form-control" ng-model="ctrl.staff.contact_person">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">一级部门</label>
      <div>
        <input type="text" class="form-control" ng-model="ctrl.staff.department_primary">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">二级部门</label>
      <div>
        <input type="text" class="form-control" ng-model="ctrl.staff.department_secondary">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">岗位名称</label>
      <div>
        <input type="text" class="form-control" ng-model="ctrl.staff.title">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">职位级别</label>
      <div>
        <input type="number" class="form-control" ng-model="ctrl.staff.level">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">住址</label>
      <div>
        <input type="text" class="form-control" ng-model="ctrl.staff.address">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">直属经理</label>
      <div>
        <input type="text" class="form-control" ng-model="ctrl.staff.manager">
      </div>
    </div>
  </div>
</div>
