<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">用户名</label>
      <div>
        <input type="text" class="form-control" ng-model="ctrl.user.username">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">密码</label>
      <div>
        <input type="password" class="form-control" ng-model="ctrl.user.password">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label class="control-label">权限</label>
      <div ng-repeat="(privName, privValue) in ctrl.user.privilege">
        <label>
          <input
            type="checkbox"
            ng-checked="privValue"
            ng-click="ctrl.togglePrivilege(privName)"
          > {{ privName }}
        </label>
      </div>
    </div>
  </div>
</div>
